PORT=3000

# API_KEYS:
		VISION=
			your_openapi_key_here, // 예: process.env.REACT_APP_VISION_API_KEY
		RAG= your_openapi_key_here, // 예: process.env.REACT_APP_RAG_API_KEY
		SPEECH=
			your_openapi_key_here, // 예: process.env.REACT_APP_SPEECH_API_KEY
	
	# API_ENDPOINTS: 
		end_VISION=
			your_api_endpoint_here, // 예: "https://<your-resource>.openai.azure.com/openai/deployments/gpt-4o-2/chat/completions?api-version=2024-02-15-preview"
		end_RAG= your_api_endpoint_here, // 예: "https://<your-resource>.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-02-15-preview"
		end_SPEECH_TTS= "", // 리전은 필요시 변경

       REACT_APP_API_ENDPOINT="/random-hero"
	   BACKEND_URL=
		"your_backend_url"